.actionPanel{
    height: 115px;
    width: 90vw;
    max-width: 600px;
    margin-bottom: 5vw;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.groupPhaseButtons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    margin-right: 5px;
}
.groupActionButtons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90vw;
}

.reset{
    height: 25%;
}
.nextButton{
    border-radius: 10px;
    height: 100%;
    font-size: large;
    color:bisque;
    background-color: rgb(56, 94, 0);
}
/*
.actionButton{
    width: 90px;
    height: 25px;
}
*/