
.Tile{
    background-size: 75px 81px;   
    background-repeat: no-repeat;
    background-position: "center";
    height:81px;
    width:75px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: absolute; 
    z-index: 1;
}

.selected{
    background-image:
    linear-gradient(rgb(201, 246, 0), rgba(11, 253, 7, 0.636)),
}

/*.Tile:hover{
    filter: opacity(50%);
}*/

.tileContent{
    height: 30px;
    width: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(15px, 15px);  
}

 p {
    margin-top: 8px;
    margin-left: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 5px black;
}

.tileFilter{
    position:absolute;
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
}

.disabled{
    z-index: 5;
}

.outSight{
    z-index: 5;
}

.unexplored{
    z-index: 5;
}

.selected{
    z-index: 2;
}

.invisible{
    display: none;
}
.actionMenu{
    background-color: rgba(47, 79, 79, 0.685);
    border-radius: 5px;
    width: 30px;
    height: 60px;
    z-index: 6;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tileButton{
    font-size: 6px;
    padding: 1px;
}