body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  color:white;
  background-color: #282c34;
  text-align: center;
  min-height: 90vh;
  min-width: 100vw;
  margin-top: 5vh;
  border-radius: 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.topPanel{

}
.gameScreen{
  position: relative;
  width: 90vw;
  height: 90vw;
  background-color: rgb(6, 6, 54);
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  overflow: scroll;
}
.bottomPanel{

}

