.token{
    color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 3;
    font-size: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
}

.tokenContent{
    padding-top: 2px;
    color: rgb(254, 254, 254);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}


.tokenIcon,
.tokenPoints {
    padding: 1px;
    margin: 1px;
    display: inline-block;
    width: fit-content;
}

.tokenPoints {
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 5px;
}


.tokenIcon{
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    background-size: 80%;
    background-repeat: no-repeat;
    z-index: 4;
}